loguru
omegaconf
tqdm
smplx
soundfile
librosa
PyYAML
wandb
matplotlib
configargparse
pandas
opencv-python
fasttest
IPython
h5py
einops
textgrid
termcolor
transformers
gdown
pyrender
trimesh
imageio
moviepy
lmdb
fasttext
tensorboard
pynvml
huggingface_hub
diffusers==0.24.0
numpy==1.24.2
